<h1>row reverse</h1>
<div fxLayout="row-reverse">
  <div style="background-color: blue;"> block 1 Le Lorem Ipsum est simplement du faux texte employé dans la composition
    et la mise en page avant impression. </div>

  <div style="background-color: orange;"> block 2 Le Lorem Ipsum est simplement du faux texte employé dans la
    composition et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Le Lorem
    Ipsum est simplement du faux texte employé dans la
    composition et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: green;">block 3 Le Lorem Ipsum est simplement du faux texte employé dans la composition
    et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: yellow;"> block 4 Le Lorem Ipsum est simplement du faux texte employé dans la
    composition et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.
  </div>

  <div style="background-color: red;"> block 5 Le Lorem Ipsum est simplement du faux texte employé dans la composition
    et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
    quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il n'a
    pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>
</div>


<!-- row Align end -->

<h1>row Align end</h1>
<div fxLayout="row" fxLayoutAlign=" end">
  <div style="background-color: blue; width: 500px;"> block 1 Le Lorem Ipsum est simplement du faux texte employé
    dans la composition
    et la mise en page avant impression. </div>

  <div style="background-color: orange;width: 500px;"> block 2 Le Lorem Ipsum est simplement du faux texte employé
    dans la
    composition et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Le Lorem
    Ipsum est simplement du faux texte employé dans la
    composition et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: green;width: 500px;" fxFlexAlign="start">block 3 Le Lorem Ipsum est simplement du faux
    texte employé
    dans la composition
    et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: yellow;width: 500px;"> block 4 Le Lorem Ipsum est simplement du faux texte employé
    dans la
    composition et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.
  </div>

  <div style="background-color: red;width: 500px;"> block 5 Le Lorem Ipsum est simplement du faux texte employé dans
    la composition
    et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
    quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il n'a
    pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>
</div>


<!-- column Align end -->

<h1>column Align center</h1>
<div fxLayout="column" fxLayoutAlign=" center">
  <div style="background-color: blue; width: 500px;"> block 1 Le Lorem Ipsum est simplement du faux texte employé
    dans la composition
    et la mise en page avant impression. </div>

  <div style="background-color: orange;width: 500px;"> block 2 Le Lorem Ipsum est simplement du faux texte employé
    dans la
    composition et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Le Lorem
    Ipsum est simplement du faux texte employé dans la
    composition et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: green;width: 500px;">block 3 Le Lorem Ipsum est simplement du faux texte employé
    dans la composition
    et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: yellow;width: 500px;"> block 4 Le Lorem Ipsum est simplement du faux texte employé
    dans la
    composition et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.
  </div>

  <div style="background-color: red;width: 500px;"> block 5 Le Lorem Ipsum est simplement du faux texte employé dans
    la composition
    et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
    quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il n'a
    pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>
</div>

<!-- row fxFlex   -->

<h1>row fxFlex wrap gap</h1>
<div fxLayout="row wrap" fxLayoutGap="20px">
  <div style="background-color: blue; " fxFlex="40" fxFlexOffset="10"> block 1 Le Lorem Ipsum est simplement du faux
    texte employé
    dans la composition
    et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: orange;" fxFlex="40"> block 2 Le Lorem Ipsum est simplement du faux texte employé
    dans la composition
    et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: green; " fxFlex="50">block 3 Le Lorem Ipsum est simplement du faux texte employé
    dans la composition
    et la
    mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq
    siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

  <div style="background-color: yellow;" fxFlex="20"> block 4 Le Lorem Ipsum est simplement du faux texte employé
    dans la
    composition et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.
  </div>

  <div style="background-color: red;" fxFlex="40"> block 5 Le Lorem Ipsum est simplement du faux texte employé dans
    la composition
    et la
    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
    quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il n'a
    pas fait que survivre
    cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>

</div>